<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.withpuppy.magicCode.userRegist.service.UserRegistMapper">
	<select id="userRegistSelectList"
	resultType="com.withpuppy.magicCode.userRegist.service.UserRegistVO">
	</select>
	<select id="userRegistSelect" resultType="com.withpuppy.magicCode.userRegist.service.UserRegistVO">
	</select>
	<insert id="userRegistInsert">
	</insert>
	<update id="userRegistUpdate">
	</update>
	<delete id="userRegistDelete">
	</delete>
	<!-- 서비스 요청 취소 -->
	<update id="urCheckCUpdate">
		UPDATE USER_REGIST SET UR_CHECK 'C'
		WHERE UR_ID = #{urId}
	</update>
	
	<!-- 서비스 완료 -->
	<update id="urCheckEUpdate">
		UPDATE USER_REGIST SET UR_CHECK 'E'
		WHERE UR_ID = #{urId}
	</update>
</mapper>
