<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.withpuppy.magicCode.notice.service.NoticeMapper">
	<select id="noticeSelectList"
		resultType="com.withpuppy.magicCode.notice.service.NoticeVO">
		SELECT * FROM NOTICE
		ORDER BY notice_id
	</select>
	<select id="noticeSelect"
		resultType="com.withpuppy.magicCode.notice.service.NoticeVO">
		SELECT * FROM NOTICE
		WHERE notice_id = #{noticeId}
	</select>
	<insert id="noticeInsert" parameterType="com.withpuppy.magicCode.notice.service.NoticeVO">
		<selectKey keyProperty="noticeId" resultType="int" order="BEFORE">
			SELECT Max(notice_id) + 1 AS noticeId FROM notice
		</selectKey>
		INSERT INTO notice
		VALUES(#{noticeId},#{noticeTitle},#{noticeSubject},#{noticeWriter}, #{noticeTime})
	</insert>
	<update id="noticeUpdate">
		UPDATE notice SET    
		notice_id = #{noticeId},
	    notice_title = #{noticeTitle},
	    notice_subject = #{noticeSubject},
	    notice_writer = #{noticeWriter},
	    notice_time = #{noticeTime}
	 	WHERE notice_id = #{noticeId}
	</update>
	<delete id="noticeDelete">
		DELETE FROM notice WHERE notice_id = #{noticeId}
	</delete>
</mapper>