<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.withpuppy.magicCode.serviceRegist.service.serviceRegistMapper">
	<select id="serviceRegistSelectList"
	resultType="com.withpuppy.magicCode.serviceRegist.service.ServiceRegistVO">
	</select>
	<select id="serviceRegistSelect" resultType="com.withpuppy.magicCode.serviceRegist.service.ServiceRegistVO">
	</select>
	<insert id="serviceRegistInsert">
	<selectKey keyProperty="urId" resultType="int" order="BEFORE">
			SELECT Max(sr_id) + 1 AS srId FROM service_regist
	</selectKey>
	INSERT INTO service_regist VALUES(#{srId}, #{srPicturePath}, #{srTitle}, #{srServerId}, 
	#{srServerName}, #{srStartDate}, #{srEndDate}, #{srStartTime}, #{srEndTime}, #{srIntroduce}, #{srCategory}, #{srPrice}, #{srLocation})
	</insert>
	<update id="serviceRegistUpdate">
	</update>
	<delete id="serviceRegistDelete">
	</delete>
</mapper>