<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.withpuppy.magicCode.serviceRegist.service.serviceRegistMapper">
	<select id="serviceRegistSelectList"
	resultType="com.withpuppy.magicCode.serviceRegist.service.ServiceRegistVO">
	</select>
	<select id="serviceRegistSelect" resultType="com.withpuppy.magicCode.serviceRegist.service.ServiceRegistVO">
	</select>
	<insert id="serviceRegistInsert">
	</insert>
	<update id="serviceRegistUpdate">
	</update>
	<delete id="serviceRegistDelete">
	</delete>
</mapper>