<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.notice.member.service.MemberMapper">
	<select id="memberSelectList"
	resultType="com.withpuppy.magicCode.member.service.MemberVO">
		SELECT * FROM MEMBER
	</select>
	<select id="memberSelect" resultType="com.withpuppy.magicCode.member.service.MemberVO">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		<if test="memberPassWord != null">
			AND member_pw = #{memberPw}
		</if>
	</select>
	<insert id="memberInsert">
		INSERT INTO MEMBER
		VALUES(#{memberId},#{memberNick},#{memberPw},#{memberName},#{memberTel},#{memberAddr},#{memberAuth})
	</insert>
	<update id="memberUpdate">
		UPDATE MEMBER
		<set>
			<if test="memberPw != null">MEMBER_PW = #{memberPw},</if>
			<if test="memberTel != null">MEMBER_TEL = #{memberTel},</if>
			<if test="memberAddr != null">MEMBER_ADDR = #{memberAddr}</if>
		</set>
		WHERE member_id = #{memberId} 
	</update>
	<delete id="memberDelete">
		delete from MEMBER
		where member_id = #{memberId}
	</delete>
	<select id="memberLogin">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{memberId} AND member_password = #{MemberPassWord}
	</select>
</mapper>